<p id="notice"><%= notice %></p>
<%= link_to "New", new_admin_category_path%>
  <% @categories.each do |category| %>
    <hr>
      <div><%= category.name %></div>
      <%= link_to "Edit", edit_admin_category_path(category),
                          class:"btn btn-success"%>
      <%= link_to "Destroy", admin_category_path(category),
                             method: :delete,
                             data: { confirm: 'Are you sure?' },
                             class:"btn btn-success"%>
    <hr>
  <% end %>
